<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="bg-light p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a class="navbar-brand" href="/">Algorithms App</a>
        <div class="flex">
          <ul class="flex space-x-4">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topsis">MCDM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pso">PSO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ba">BA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ACO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comparacion">Comparación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/acercade">Acerca De</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="font-semibold text-4xl text-center mt-10">Acerca de Nosotros</h1>
    <div class="border-t-2 border-gray-300 my-8 mx-96"></div>
    <h3 class="text-xl text-center mt-10 mx-96 mb-8">
      El equipo de desarrollo se organiza en tres grupos fundamentales: uno
      enfocado en la investigación, otro especializado en el frontend
      (desarrollo de la interfaz de usuario) y un tercer equipo encargado del
      backend (desarrollo de la lógica y la infraestructura que respalda la
      aplicación).
    </h3>
    <h1 class="font-semibold text-2xl text-center mt-10 mb-8">
      Investigadores
    </h1>
    <div class="border-t-2 border-gray-300 my-8 mx-96"></div>
    <div
      class="flex justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
    >
      <!-- Card para cada persona -->
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">
          M.I.S.C. Dynhora Danheyda Ramírez Ochoa
        </h2>
        <span class="text-gray-600 mb-2">Conceptualización</span>
        <span class="text-gray-600 mb-2">Metodología</span>
        <span class="text-gray-600 mb-2">Experimentación</span>
        <span class="text-gray-600 mb-2">Evaluación de experimentos</span>
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/dynhora-danheyda-ram%C3%ADrez-ochoa-86b0733a"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            href="https://scholar.google.com/citations?user=4HAFFT0AAAAJ&hl=es&oi=ao"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-google"></i>
          </a>
          <a
            href="https://orcid.org/orcid-search/search?searchQuery=0000-0002-1326-908X"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-orcid"></i>
          </a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">
          Dr. Luis Asunción Pérez Domínguez
        </h2>
        <span class="text-gray-600 mb-2">Conceptualización</span>
        <span class="text-gray-600 mb-2">Supervisión</span>
        <span class="text-gray-600 mb-2">Evaluación de experimentos</span>
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/luis-p%C3%A9rez-dom%C3%ADnguez-15228432"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            href="https://scholar.google.com/citations?hl=es&user=iuXlWr4AAAAJ&view_op=list_works&sortby=pubdate"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-google"></i>
          </a>
          <a
            href="https://orcid.org/orcid-search/search?searchQuery=0000-0003-2541-4595"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-orcid"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Sección para el equipo Backend -->
    <h1 class="font-semibold text-2xl text-center mt-10 mb-8">Backend</h1>
    <div class="border-t-2 border-gray-300 my-8 mx-96"></div>
    <div
      class="p-5 flex justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8"
    >
      <!-- Aquí van las tarjetas del equipo Backend -->
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">M.S.I. Alfonso Barroso</h2>
        <span class="text-gray-600 mb-2">(Nov 2022-a la fecha)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/alfonso-jos%C3%A9-barroso-barajas-9030541aa"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="#" class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">I.D.S.M. Raúl Aguirre</h2>
        <span class="text-gray-600 mb-2">(Nov-May 2022)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/raul-hermosillo"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">Abraham Isaí García Piñón</h2>
        <span class="text-gray-600 mb-2">(Sep 2023- a la fecha)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/abraham-isaí-garcía-2306b7265/"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/IsaiGp96"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">
          Alan Enrique Rodriguez Fernandez
        </h2>
        <span class="text-gray-600 mb-2">(Nov 2023-a la fecha)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/alan-rodriguez-146a62280/"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/AlanRod7"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">César Armando Marines Licón</h2>
        <span class="text-gray-600 mb-2">(Nov 2023-a la fecha)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/cmarines/"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/Commmodore64"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- Sección para el equipo Frontend -->
    <h1 class="font-semibold text-2xl text-center mt-10 mb-8">Frontend</h1>
    <div class="border-t-2 border-gray-300 my-8 mx-96"></div>
    <div
      class="p-5 flex justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-5"
    >
      <!-- Aquí puedes agregar las tarjetas del equipo Frontend -->
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">
          M.I.S.C. Dynhora Danheyda Ramírez Ochoa
        </h2>
        <span class="text-gray-600 mb-2">(Ene 2021-a la fecha)</span>
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/dynhora-danheyda-ram%C3%ADrez-ochoa-86b0733a"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            href="https://scholar.google.com/citations?user=4HAFFT0AAAAJ&hl=es&oi=ao"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-google"></i>
          </a>
          <a
            href="https://orcid.org/orcid-search/search?searchQuery=0000-0002-1326-908X"
            class="text-gray-600 hover:text-gray-900 text-3xl"
          >
            <i class="fab fa-orcid"></i>
          </a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">I.D.S.M. Raúl Aguirre</h2>
        <span class="text-gray-600 mb-2">(May - Ago 2022)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/raul-hermosillo"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">Abraham Isaí García Piñón</h2>
        <span class="text-gray-600 mb-2">(Sep 2023- a la fecha)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/abraham-isaí-garcía-2306b7265/"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/IsaiGp96"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">
          Alan Enrique Rodriguez Fernandez
        </h2>
        <span class="text-gray-600 mb-2">(Nov 2023-a la fecha)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/alan-rodriguez-146a62280/"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/AlanRod7"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <div
        class="bg-white shadow-md rounded-lg p-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-lg font-semibold mb-2">César Armando Marines Licón</h2>
        <span class="text-gray-600 mb-2">(Nov 2023-a la fecha)</span>
        <!-- Otros detalles -->
        <div class="flex items-center justify-center space-x-4">
          <!-- Iconos de redes sociales -->
          <a
            href="https://www.linkedin.com/in/cmarines/"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a
            href="https://github.com/Commmodore64"
            class="text-gray-600 hover:text-gray-900 text-3xl"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
