<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comparacion</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <nav class="bg-light p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a class="navbar-brand" href="/">Algorithms App</a>
        <div class="flex">
          <ul class="flex space-x-4">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topsis">MCDM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pso">PSO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ba">BA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/aco">ACO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comparacion">Comparación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/acercade">Acerca De</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-white pt-8">
        <div class="container mx-auto rounded-xl bg-white px-8 py-10 shadow-2xl">
            <h1 class="text-center text-3xl font-semibold text-gray-800 lg:text-4xl">Algoritmo de optimización de Colonia de Hormigas (ACO)</h1>
            <p class="mt-6 text-justify">
              El Algoritmo de Optimización de Colonias de Hormigas (ACO) es una potente técnica de optimización inspirada en el comportamiento de las colonias de hormigas reales. Fue concebido por Marco Dorigo en 1995  y se ha consolidado como una herramienta altamente efectiva para resolver problemas de optimización combinatoria. Estos desafíos involucran la búsqueda de la mejor solución entre múltiples opciones disponibles, y el ACO ha demostrado su utilidad en diversas áreas, desde la logística hasta la planificación de rutas, la asignación de recursos y la programación.
              La clave del éxito del ACO radica en la habilidad de las feromonas para transmitir información colectiva sobre las soluciones más prometedoras. <br>Conforme las hormigas encuentran soluciones de alta calidad, las feromonas se acumulan en los caminos correspondientes, atrayendo a más hormigas hacia estas soluciones. Este mecanismo facilita que el algoritmo converja hacia soluciones óptimas o cercanas a óptimas en problemas combinatorios complejos.
              <a id="enlace" href="https://ieeexplore.ieee.org/abstract/document/484436" class="text-cyan-400">Leer más</a>
            </p>
        </div>
    </div>
    
    <div class="mt-16 text-center mx-auto max-w-5xl overflow-hidden rounded-xl bg-white">
        <div class="flex justify-center">
            <section class="mt-20">
                <div class="mx-auto max-w-lg">
                    <!-- <h1 class="text-3xl font-bold text-gray-800 lg:text-4xl"></h1> -->
                </div>
                <div class="container mx-auto rounded-xl bg-white px-8 py-10 shadow-2xl">
                    <h1 class="text-center text-3xl font-semibold text-gray-800 lg:text-4xl">
                      El funcionamiento del algoritmo de Colonias de Hormigas se puede resumir en los siguientes pasos:
                    </h1>
                    <p class="text-justify text-gray-500">
                        <div class="mt-10">
                            <li><strong>Inicialización de feromonas: </strong></li>
                            <h2>
                              En el inicio del algoritmo, se asigna una cantidad de "feromona" a todas las posibles soluciones o caminos en el espacio de búsqueda. Las feromonas son sustancias químicas que las hormigas reales utilizan para comunicarse entre sí y marcar caminos. En el contexto del ACO, las feromonas representan información compartida entre las soluciones candidatas.                            </h2>
                            <!-- ... (otros elementos li y h2) ... -->
                        </div>
                    </p>
                    <p class="text-justify text-gray-500">
                        <div class="mt-10">
                            <li><strong>Construcción de soluciones: </strong></li>
                            <h2>
                              Se generan soluciones candidatas de manera probabilística. Cada hormiga (representando una solución) construye su propia solución visitando las opciones disponibles en función de las feromonas y una heurística que evalúa la calidad de las soluciones parciales. Las hormigas siguen caminos que tienen feromonas más fuertes y que parecen prometedores según la heurística.                            </h2>
                            <!-- ... (otros elementos li y h2) ... -->
                        </div>
                    </p>
                    <p class="text-justify text-gray-500">
                        <div class="mt-10">
                            <li><strongEvaluación y actualización de feromonas: </strong></li>
                            <h2>
                              Una vez que una hormiga ha construido una solución completa, se evalúa su calidad utilizando una función objetivo. Las soluciones de alta calidad dejan una cantidad mayor de feromona en los caminos que han seguido. Además, con el tiempo, las feromonas se evaporan gradualmente, lo que simula el proceso de olvido en las hormigas reales.                            <!-- ... (otros elementos li y h2) ... -->
                        </div>
                    </p>
                    <p class="text-justify text-gray-500">
                        <div class="mt-10">
                            <li><strong>Mejora de las soluciones: </strong></li>
                            <h2>
                              A lo largo de múltiples iteraciones, las hormigas continúan construyendo soluciones, evaluando su calidad y actualizando las feromonas. Con el tiempo, la concentración de feromonas tiende a acumularse en los caminos que conducen a soluciones de alta calidad.                        </div>
                    </p>
                    <p class="text-justify text-gray-500">
                        <div class="mt-10">
                            <li><strong>Comunicación: </strong></li>
                            <h2>
                              Los murciélagos también pueden comunicarse entre sí emitiendo llamadas de frecuencia ultrasónica. Esta comunicación permite a los murciélagos compartir información sobre soluciones prometedoras y, en consecuencia, converger más rápidamente hacia soluciones óptimas.                        </div>
                    </p>
                    <p class="text-justify text-gray-500">
                        <div class="mt-10">
                            <li><strong>Exploración y explotación: </strong></li>
                            <h2>
                              El ACO equilibra la exploración (buscar nuevas soluciones) y la explotación (refinar las soluciones existentes). Las feromonas guían a las hormigas hacia soluciones prometedoras, pero también permiten cierta exploración de otras posibilidades.                    </p>
                    <p class="text-justify text-gray-500">
                        <div class="mt-10">
                            <li><strong>Criterio de parada: </strong></li>
                            <h2>
                              El algoritmo de Colonias de Hormigas se ejecuta durante un número fijo de iteraciones o hasta que se cumpla un criterio de parada predefinido, como alcanzar un valor objetivo o una tolerancia específica.

                              La clave del éxito del ACO radica en la capacidad de las feromonas para transmitir información colectiva sobre las soluciones prometedoras. A medida que las hormigas encuentran soluciones de alta calidad, las feromonas se acumulan en los caminos correspondientes, atrayendo a más hormigas hacia esas soluciones. Esto permite al algoritmo converger hacia soluciones óptimas o cercanas a óptimas en problemas combinatorios complejos.
                                                  <div class="container mx-auto px-6 py-10">
                        <p class="mt-6 text-gray-500 text-justify">
                          En esta página, te ofrecemos acceso al algoritmo ACO, junto con tres híbridos que combinan PSO con MCDM (Múltiples Criterios de Toma de Decisiones). En esta sección, tienes la flexibilidad de utilizar los algoritmos de forma independiente. Para hacerlo, simplemente proporciona la matriz de decisión y ajusta los parámetros de entrada según tus necesidades. Los resultados que visualizarás en pantalla corresponden a la última iteración, pero si deseas un análisis más detallado, tienes la opción de descargar un archivo en formato Excel para profundizar en la información proporcionada.                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>

  
      <div class="flex justify-center">
        <section class="">
          <div>
            <div class="max-w-2xl mx-auto bg-white p-8">
              <form
                method="POST"
                id="comparacionFormBa"
                class="rounded-xl bg-white px-8 py-10 shadow-2xl"
              >
                <h1 class="font-semibold mb-3">Ingrese parámetros de control</h1>
                <div class="grid gap-6 mb-6 lg:grid-cols-2">
                  <div>
                    <label
                      for="w1"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >C1</label
                    >
                    <input
                      type="number"
                      step="any"
                      value="0.400"
                      id="w1"
                      name="w1"
                      class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      pattern=""
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="w2"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >C2</label
                    >
                    <input
                      type="number"
                      step="any"
                      value="0.200"
                      id="w2"
                      name="w2"
                      class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      pattern=""
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="w3"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >C3</label
                    >
                    <input
                      type="number"
                      step="any"
                      value="0.030"
                      id="w3"
                      name="w3"
                      class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      pattern=""
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="w4"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >C4</label
                    >
                    <input
                      type="number"
                      step="any"
                      value="0.070"
                      id="w4"
                      name="w4"
                      class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      pattern=""
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="w5"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >C5</label
                    >
                    <input
                      type="number"
                      step="any"
                      value="0.300"
                      id="w5"
                      name="w5"
                      class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      pattern=""
                      required
                    />
                  </div>
                  <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                      >Alpha:</label
                    >
                    <input
                      type="number"
                      step="any"
                      value="2.5"
                      id="alpha"
                      name="alpha"
                      class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      pattern=""
                      required
                    />
                  </div>
                  <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900"
                      >Gamma:</label
                    >
                    <input
                      type="number"
                      step="any"
                      value="2.5"
                      id="gamma"
                      name="gamma"
                      class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      pattern=""
                      required
                    />
                  </div>
                </div>
                <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Cantidad de Iteraciones:
                  </label>
                  <input
                    type="number"
                    step="any"
                    value="10"
                    id="T"
                    name="T"
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                </div>
                <div>
                  <!-- <label class="block mt-5 mb-2 text-sm font-medium text-gray-900"
                    >Función objetivo:
                  </label>
                  <input
                    type="number"
                    placeholder="Ri= (t^-i)/(t^+i+t^-i), i=1,...,m"
                    disabled
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                  /> -->
                </div>
                <button
                  type="button"
                  id="ejecutarComparacionBa"
                  class="text-black mt-5 hover:bg-blue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-slate-400"
                >
                  Calcular
                </button>
              </form>
            </div>
          </div>
        </section>
      <section class="">
        <div class="flex justify-row-cols-1">
            <div class="max-w-2xl mx-auto bg-white p-8">
              <form class="rounded-xl bg-white px-8 py-10 shadow-2xl">
                <h1 class="font-bold mb-1 text-xl">PSO</h1>

                <div>
                  <label
                    for="w3"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Tiempo de ejecución</label
                  >
                  <input
                    type="text"
                    id="ejecucionBa"
                    disabled
                    placeholder="Esperando ejecución..."
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                </div>

                <h2 class="font-semibold mb-3">Últimos 10 resultados</h2>
                <div class="overflow-y-auto h-full">
                  <table
                    class="w-full table-auto border-separate border border-slate-400"
                  >
                    <thead>
                      <tr>
                        <th
                          class="border border-slate-300 text-center align-middle"
                        >
                          Iteración
                        </th>
                        <th
                          class="border border-slate-300 text-center align-middle"
                        >
                          Mejor Alternativa
                        </th>
                        <!-- Agrega más encabezados según sea necesario -->
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range (10) %}
                      <tr>
                        <td
                          class="border border-slate-300 text-center align-middle"
                        >
                          {{ i + 1 }}
                        </td>
                        <td
                          id="alternativaBa{{i}}"
                          class="border border-slate-300 text-center align-middle"
                        ></td>
                        <!-- Repite para las otras mejores alternativas -->
                      </tr>
                      {% endfor %}
  
                      <!-- Agrega más filas según sea necesario -->
                    </tbody>
                  </table>
                </div>
              </form>
                <form class="rounded-xl bg-white px-8 py-10 shadow-2xl mt-10">
                  <h1 class="font-bold mb-1 text-xl">BA</h1>

                  <div>
                    <label
                      for="w3"
                      class="block mb-2 text-sm font-medium text-gray-900"
                      >Tiempo de ejecución</label
                    >
                    <input
                    type="text"
                    id="ejecucionMooraba"
                    disabled
                    placeholder="Esperando ejecución..."
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                  </div>

                  <h2 class="font-semibold mb-3">Últimos 10 resultados</h2>
                <div class="overflow-y-auto h-full">
                  <table
                    class="w-full table-auto border-separate border border-slate-400"
                  >
                    <thead>
                      <tr>
                        <th
                          class="border border-slate-300 text-center align-middle"
                        >
                          Iteración
                        </th>
                        <th
                          class="border border-slate-300 text-center align-middle"
                        >
                          Mejor Alternativa
                        </th>
                        <!-- Agrega más encabezados según sea necesario -->
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range (10) %}
                      <tr>
                        <td
                          class="border border-slate-300 text-center align-middle"
                        >
                          {{ i + 1 }}
                        </td>
                        <td
                          id="alternativaMooraba{{ i }}"
                          class="border border-slate-300 text-center align-middle"
                        ></td>
                        <!-- Repite para las otras mejores alternativas -->
                      </tr>
                      {% endfor %}
  
                      <!-- Agrega más filas según sea necesario -->
                    </tbody>
                  </table>
                </div>
                <div class="grid mt-4 gap-6 mb-6 lg:grid-cols-2">
              </form>
            </div>
          </div>
        </section>

      <section class="">
        <div class="flex justify-row-cols-1">
            <div class="max-w-2xl mx-auto bg-white p-8">
              <form class="rounded-xl bg-white px-8 py-10 shadow-2xl">
                <h1 class="font-bold mb-1 text-xl">ACO</h1>

                <div>
                  <label
                    for="w3"
                    class="block mb-2 text-sm font-medium text-gray-900"
                    >Tiempo de ejecución</label
                  >
                  <input
                    type="text"
                    id="ejecucionDaba"
                    disabled
                    placeholder="Esperando ejecución..."
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                </div>

                <h2 class="font-semibold mb-3">Últimos 10 resultados</h2>
                <div class="overflow-y-auto h-full">
                  <table
                    class="w-full table-auto border-separate border border-slate-400"
                  >
                    <thead>
                      <tr>
                        <th
                          class="border border-slate-300 text-center align-middle"
                        >
                          Iteración
                        </th>
                        <th
                          class="border border-slate-300 text-center align-middle"
                        >
                          Mejor Alternativa
                        </th>
                        <!-- Agrega más encabezados según sea necesario -->
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range (10) %}
                      <tr>
                        <td
                          class="border border-slate-300 text-center align-middle"
                        >
                          {{ i + 1 }}
                        </td>
                        <td
                          id="alternativaDaba{{ i }}"
                          class="border border-slate-300 text-center align-middle"
                        ></td>
                        <!-- Repite para las otras mejores alternativas -->
                      </tr>
                      {% endfor %}
  
                      <!-- Agrega más filas según sea necesario -->
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
            <div class="pb-5 ">

              <a href="/descargar-zip" >
                <button class="text-black mt-5 ml-9 hover:bg-blue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-slate-400">
                  Swarm Analyzer
                </button>
              </a>
            </div>
          </div>
        </section>
      
    </div>


    <script src="{{ url_for('static', filename='js/comparacionBa.js') }}"></script>
  </body>
</html>
