<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Algorithms App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav mx-auto"> <!-- Utilizamos la clase mx-auto para centrar el contenido -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/topsis">MCDM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pso">PSO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ba">BA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ACO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comparacion">Comparación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/acercade">Acerca De</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <section class="dark:bg-gray-900">
        <div class="h-[10rem] bg-gray-100 dark:bg-gray-800">
            <div class="container mx-auto px-6 py-10">
                <h1 class="text-center text-3xl font-semibold capitalize text-gray-800 dark:text-white lg:text-4xl">Toma de decisiones avanzadas con inteligencia de enjambre en un ambiente multicriterio</h1>
                <p class="mt-6 text-gray-500 dark:text-gray-300 text-justify">Este sitio web ha sido diseñado con el propósito de asistir tanto a individuos como a organizaciones en la toma de decisiones más informadas y eficaces, particularmente en escenarios de alta complejidad donde múltiples factores o criterios deben ser tenidos en cuenta.
                    <br />
                    Es decir, esta herramienta ofrece apoyo integral en el proceso de toma de decisiones. En contraposición a la toma de decisiones basadas en intuición o experiencia exclusivamente, esta herramienta adopta un enfoque más estructurado y avanzado. Para ello, hace uso de algoritmos basados en la inteligencia de enjambre, lo que le permite encontrar soluciones óptimas o cercanas a la perfección en situaciones complejas donde múltiples criterios o factores desempeñan un papel fundamental, y donde estos criterios pueden variar en su importancia relativa.
                    <br />
                    Estas herramientas adquieren un valor significativo en la toma de decisiones estratégicas en diversos ámbitos, tales como la gestión empresarial, la inversión financiera, la planificación de proyectos, la selección de productos o servicios, así como en la formulación de políticas gubernamentales. Su utilidad se evidencia especialmente en contextos donde la cantidad de información disponible y las interrelaciones entre los factores involucrados pueden llegar a ser abrumadoras.
                </p>
            </div>
        </div>
        <div class="mt-16 bt text-center mx-auto max-w-5xl overflow-hidden rounded-xl bg-white ">
            <div class="mt-10 flex justify-center">
                <section class="dark:bg-gray-900 mt-20 ">
                    <div class="mx-auto max-w-lg">
                        <h1 class="mt-16 text-3xl font-bold text-gray-800 dark:text-white lg:text-4xl">INTELIGENCIA DE ENJAMBRE</h1>
                    </div>
                    <div class="container mx-auto rounded-xl bg-white px-8 py-10 shadow-2xl dark:bg-gray-900 ">
                        <h1 class="text-center text-3xl font-semibold capitalize text-gray-800 dark:text-white lg:text-4xl"></h1>
                        <p class="mt-4 text-justify text-gray-500 dark:text-gray-300">
                            La inteligencia de enjambre es un concepto inspirado en la observación del comportamiento de los enjambres de animales en la naturaleza, como las colonias de hormigas, las bandadas de aves y los cardúmenes de peces. Se refiere a la capacidad de un grupo de agentes individuales, que pueden ser considerados como "partículas" o "agentes" virtuales, para colaborar y coordinarse de manera efectiva en la búsqueda de soluciones a problemas complejos. Los agentes en un sistema de inteligencia de enjambre interactúan entre sí y ajustan sus comportamientos en función de las señales que reciben del entorno y de sus compañeros.
                            <br />
                            Un componente fundamental de la inteligencia de enjambre son los algoritmos metaheurísticos, que son algoritmos de búsqueda y optimización que se basan en principios inspirados en el comportamiento colectivo de los enjambres. Los metaheurísticos son técnicas de resolución de problemas que no garantizan encontrar la solución óptima, pero son muy eficientes para explorar soluciones en espacios de búsqueda complejos. Algunos ejemplos de metaheurísticas que se utilizan en la inteligencia de enjambre incluyen:
                        </p>
                        <div class="mt-10">
                            <ul>
                                <li>
                                    <strong>Optimización de Enjambre de Partículas (PSO):</strong>
                                    <br />
                                    El algoritmo de Optimización por Enjambre de Partículas (PSO, por sus siglas en inglés, Particle Swarm Optimization) es una técnica de optimización inspirada en el comportamiento de los enjambres y bandadas de aves en la naturaleza. Fue desarrollado por James Kennedy y Russell Eberhart en la década de 1990 y se utiliza para encontrar soluciones aproximadas a problemas de optimización en espacios multidimensionales, donde se busca encontrar el valor mínimo o máximo de una función.
                                    <a id="enlace" href="https://ieeexplore.ieee.org/document/494215">Leer más</a>
                                </li>
                                <li>
                                    <strong>Algoritmo de Murciélago (BA):</strong>
                                    <br />
                                    El algoritmo de Murciélago (BA, por sus siglas en inglés, Bat Algorithm) es una técnica de optimización inspirada en el comportamiento de los murciélagos en la naturaleza. Fue propuesto por Xin-She Yang en 2010 y se utiliza para encontrar soluciones aproximadas a problemas de optimización, especialmente en espacios de búsqueda continuos. Este algoritmo se caracteriza por su capacidad de búsqueda global y su capacidad para adaptarse a diferentes tipos de problemas de optimización.
                                    <a id="enlace" href="https://link.springer.com/chapter/10.1007/978-3-642-12538-6_6">Leer más</a>
                                </li>
                                <li>
                                    <strong>Algoritmos de Colonias de Hormigas (ACO):</strong>
                                    <br />
                                    El algoritmo de Colonias de Hormigas (ACO, por sus siglas en inglés, Ant Colony Optimization) es una técnica de optimización y búsqueda inspirada en el comportamiento de las colonias de hormigas reales. Fue desarrollado por Marco Dorigo en 1996 y se utiliza para resolver problemas de optimización combinatoria, donde se busca encontrar la mejor solución entre un conjunto finito de posibles soluciones.
                                    <a id="enlace" href="https://ieeexplore.ieee.org/abstract/document/484436">Leer más</a>
                                </li>
                            </ul>
                        </div>
                        <div class="container mx-auto px-6 py-10 ">
                            <p class="mt-6 text-gray-500 dark:text-gray-300 text-justify">
                                En resumen, la inteligencia de enjambre es un enfoque de resolución de problemas que se basa en la colaboración y coordinación de múltiples agentes o partículas para encontrar soluciones a problemas complejos. Los metaheurísticos, como el PSO, BA y el ACO, son técnicas clave dentro de la inteligencia de enjambre que se inspiran en el comportamiento colectivo de los enjambres naturales para resolver problemas en una amplia gama de campos, incluyendo la optimización, la planificación y la toma de decisiones.
                            </p>
                        </div>
                        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 xl:mt-12 xl:grid-cols-3 xl:gap-12">
                            <a href="/PSO" class="block">
                                <div class="relative">
                                    <h2 class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-75 text-center py-2 font-semibold capitalize text-gray-800 dark:text-white">Optimización de enjambre de partículas (PSO)</h2>
                                </div>
                            </a>
                            <a href="/BA" class="block">
                                <div class="relative">
                                    <h2 class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-75 text-center py-2 font-semibold capitalize text-gray-800 dark:text-white">Algoritmo de murciélago (BA)</h2>
                                </div>
                            </a>
                            <a href="/ACO" class="block">
                                <div class="relative">
                                    <h2 class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-75 text-center py-2 font-semibold capitalize text-gray-800 dark:text-white">Optimización de colonia de hormigas (ACO)</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</body>

<script>
    // Obtiene el token JWT almacenado en una cookie llamada 'jwt_token'.
    const token = document.cookie
        .split('; ')
        .find(row => row.startsWith('session='))
        .split('=')[1];
    console.log(token);
    // Decodifica el token JWT y muestra la información que necesitas.
    if (token) {
        const decodedToken = JSON.parse(atob(token.split('.')[1]));
        document.getElementById('username').textContent = decodedToken.user;
    } else {
        console.log("No hay token")
    }
</script>

</html>
