<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOORAV</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <nav class="bg-light p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a class="navbar-brand" href="/">Algorithms App</a>
        <div class="flex">
          <ul class="flex space-x-4">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/topsis">MCDM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pso">PSO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ba">BA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ACO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comparacion">Comparación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/acercade">Acerca De</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-white pt-8">
      <div class="container mx-auto rounded-xl bg-white px-8 py-10 shadow-2xl">
          <h1 class="text-center text-3xl font-semibold capitalize text-gray-800 lg:text-4xl">LOS MÉTODOS DE MÚLTIPLES CRITERIOS DE TOMA DE DECISIONES</h1>
          <p class="mt-6 text-justify">
            Los Métodos de Múltiples Criterios de Toma de Decisiones (MCDM, por sus siglas en inglés, Multiple Criteria Decision Making) son un conjunto de enfoques y técnicas utilizados para abordar situaciones en las que se deben considerar varios criterios o factores al tomar decisiones. Estos métodos se utilizan en una amplia variedad de campos, desde la ingeniería hasta la gestión empresarial y la toma de decisiones gubernamentales. La principal ventaja de usar MCDM radica en su capacidad para ayudar a los tomadores de decisiones a evaluar y seleccionar la mejor opción entre múltiples alternativas, teniendo en cuenta la interacción y el peso de diferentes criterios.  <a id="enlace" href="https://ieeexplore.ieee.org/document/494215" class="text-cyan-400">Leer más</a>
          </p>
      </div>
  </div>
  
  <div class="mt-16 text-center mx-auto max-w-5xl overflow-hidden rounded-xl bg-white">
      <div class="flex justify-center">
          <section class="mt-20">
              <div class="mx-auto max-w-lg">
                  <!-- <h1 class="text-3xl font-bold text-gray-800 lg:text-4xl"></h1> -->
              </div>
              <div class="container mx-auto rounded-xl bg-white px-8 py-10 shadow-2xl">
                  <h1 class="text-center text-3xl font-semibold capitalize text-gray-800 lg:text-4xl">
                    A continuación, se describen algunos de los MCDM más conocidos:
                  </h1>
                  <p class="text-justify text-gray-500">
                      <div class="mt-10">
                          
                          <h2>
                            Análisis Dimensional (AD): Este método se basa en la descomposición de los criterios y alternativas en dimensiones más pequeñas y manejables. Luego, se evalúa cada dimensión por separado y se integran los resultados para tomar una decisión global. El análisis dimensional es útil para simplificar problemas complejos al descomponerlos en partes más manejables.
                            <br><br>
                            TOPSIS (Técnica para la Evaluación de la Preferencia Ordenada por Similitud a la Solución Ideal): TOPSIS es un enfoque que compara cada alternativa con una solución ideal y una solución antiideal para calcular su proximidad relativa a ambas. La alternativa que esté más cerca de la solución ideal y más lejos de la solución antiideal se considera la mejor elección.
                            <br><br>
                            MOORA (Método de Optimización por Reordenamiento de Múltiples Objetivos): MOORA es un método que asigna pesos a los criterios y utiliza una matriz de referencia para evaluar las alternativas. Las alternativas se reordenan en función de su puntuación ponderada y se selecciona la mejor alternativa en función de la posición en el ranking.
                            <br><br>
                            CODAS (Conjunto de Datos de Ayuda para Estructurar): CODAS es un enfoque que se centra en la estructuración de datos y la conversión de información cualitativa en cuantitativa. Se utiliza para manejar la incertidumbre y evaluar alternativas en función de la calidad de los datos disponibles.
                          </h2>
                          <!-- ... (otros elementos li y h2) ... -->
                      </div>
                  </p>
                  <div class="container mx-auto px-6 py-10">
                      <p class="mt-6 text-gray-500 text-justify">
                        Las ventajas clave de utilizar métodos MCDM incluyen:
                        <br><br>
•	Consideración de múltiples factores: Los MCDM permiten a los tomadores de decisiones considerar una amplia gama de criterios, teniendo en cuenta sus interacciones y pesos relativos, lo que mejora la calidad de la toma de decisiones.<br>
•	Transparencia: Estos métodos proporcionan una estructura sistemática y transparente para el proceso de toma de decisiones, lo que facilita la comprensión y la comunicación de los resultados.<br>
•	Adaptabilidad: Los MCDM son altamente adaptables y pueden aplicarse a una variedad de problemas en diferentes dominios, desde la selección de proyectos hasta la elección de productos y la gestión ambiental.<br>
•	Consideración de la incertidumbre: Algunos métodos MCDM, como CODAS, pueden manejar la incertidumbre y la falta de datos, lo que los hace adecuados para situaciones en las que la información es limitada o poco confiable.<br>

                      </p>
                  </div>
              </div>
          </section>
      </div>
  </div>
    <div class="mt-1 flex items-center justify-center">
      <a href="/topsis" class="text-lg font-bold p-8 transition-all duration-100 ease-in-out hover:font-bold nav-link">
          TOPSIS
      </a>
      <a href="/moorav" class="text-lg p-8 transition-all duration-100 ease-in-out hover:font-bold nav-link">
          MOORA
      </a>
      <a href="/da" class="text-lg p-8 transition-all duration-100 ease-in-out hover:font-bold nav-link">
          DA 
      </a>
  </div>

    <div class="flex justify-center mb-5">
      <section class="mx-4">
        <div class="max-w-2xl mx-auto bg-white p-8">
          <form method="POST" id="mooravForm" class="rounded-xl bg-white px-8 py-10 shadow-2xl">
            <h1 class="font-semibold mb-3">Ingrese parámetros de control</h1>
            <div>
              <label for="w" class="block mb-2 text-sm font-medium text-gray-900">W:</label>
              <input value="0.400, 0.200, 0.030, 0.070, 0.300" id="w" name="w" class="bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
            </div>
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900">Cantidad de Iteraciones:</label>
              <input type="number" step="any" value="10" id="T" name="T" class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" pattern="" required />
            </div>
            <div>
              <!-- <label class="block mt-5 mb-2 text-sm font-medium text-gray-900">Función objetivo:</label> -->
              <!-- <input type="number" placeholder="Ri= (t^-i)/(t^+i+t^-i), i=1,...,m" disabled class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" pattern="" /> -->
            </div>
            <button type="button" id="ejecutarMoorav" class="text-black mt-5 hover:bg-blue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-slate-400">Calcular</button>
          </form>
        </div>
      </section>
      <section class="">
        <div>
          <div class="max-w-2xl mx-auto bg-white p-8">
            <form class="rounded-xl bg-white px-8 py-10 shadow-2xl">
              <h1 class="font-semibold mb-3">Últimos 10 resultados</h1>

              <div class="overflow-y-auto h-full">
                <table
                  class="w-full table-auto border-separate border border-slate-400"
                >
                  <thead>
                    <tr>
                      <th
                        class="border border-slate-300 text-center align-middle"
                      >
                        Iteración
                      </th>
                      <th
                        class="border border-slate-300 text-center align-middle"
                      >
                        Mejor Alternativa
                      </th>
                      <!-- Agrega más encabezados según sea necesario -->
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in range (10) %}
                    <tr>
                      <td
                        class="border border-slate-300 text-center align-middle"
                      >
                        {{ i + 1 }}
                      </td>
                      <td
                        id="alternativa{{ i }}"
                        class="border border-slate-300 text-center align-middle"
                      ></td>
                      <!-- Repite para las otras mejores alternativas -->
                    </tr>
                    {% endfor %}

                    <!-- Agrega más filas según sea necesario -->
                  </tbody>
                </table>
              </div>
              <div class="grid mt-4 gap-6 mb-6 lg:grid-cols-2">
               
            </form>
          </div>
        </div>
      </section>
      <section class="">
        <div>
          <div class="max-w-2xl mx-auto bg-white p-8">
            <form class="rounded-xl bg-white px-8 py-10 shadow-2xl">
              <div class="grid mt-4 gap-6 mb-6">
                <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Cantidad de Iteraciones:
                  </label>
                  <input
                    type="text"
                    id="cantidadIteraciones"
                    placeholder="Esperando ejecución..."
                    disabled
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                </div>
                <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Hora de inicio</label
                  >
                  <input
                    type="text"
                    id="horaInicio"
                    disabled
                    placeholder="Esperando ejecución..."
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                </div>
                <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Fecha de inicio</label
                  >
                  <input
                    type="text"
                    id="fechaInicio"
                    disabled
                    placeholder="Esperando ejecución..."
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                  />
                </div>
                <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Hora de finalización</label
                  >
                  <input
                    type="text"
                    id="horaFinalizacion"
                    disabled
                    placeholder="Esperando ejecución..."
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                </div>

                <div>
                  <label class="block mb-2 text-sm font-medium text-gray-900"
                    >Tiempo de ejecución</label
                  >
                  <input
                    type="text"
                    id="tiempoEjecucion"
                    disabled
                    placeholder="Esperando ejecución..."
                    class="text-center bg-slate-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    pattern=""
                    required
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="items-center">
          <button
            class="text-black mt-5 ml-9 hover:bg-blue focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-slate-400"
          >
            Descargar XLSX
          </button>
        </div>
      </section>
    </div>

    <script src="{{ url_for('static', filename='js/moorav.js') }}"></script>
  </body>
</html>
